
.icon-search:before { content: '\e800'; } /* '' */
.icon-prev:before { content: '\e801'; } /* '' */
.icon-next:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-left:before { content: '\e807'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-weibo:before { content: '\f33f'; } /* '' */